header{
    text-align:center;  
}

a {
    text-decoration: none;
}

body{
    font-size: 18px;
    font-family: Arial, sans-serif;    
    background-color: #99D9EA;
}
.art-img{
   width: 200px;
   height: 200px;
}
.main-content{
    text-align: center;
    margin-right: 400px;
    margin-left: 400px;
}




